.number-input {
    display: flex;
    gap: 14px;
}

.number-input-field::-webkit-outer-spin-button,
.number-input-field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.number-input-field {
    border: 1px solid var(--border);
    max-width: 50px;
    height: 30px;
    box-sizing: border-box;
    margin: 0;
    border-radius: 24px;
    text-align: center;
    font-size: 16px;
    min-width: 50px;
}

.number-input-field:focus {
    border: 1px solid var(--base-blue);
    outline: none;
}

.number-input-label {
    font-size: 20px;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    display: flex;
}

.number-input-field.error {
    border: 1px solid var(--base-red) !important;
}
